geopandas==0.10.2
fiona==1.8.22
shapely==1.8.5.post1
pyproj==3.2.1
folium==0.14.0
#ultralytics==8.0.6
opencv-python-headless
scikit-learn
numpy==1.19.5
matplotlib
seaborn==0.11.2
streamlit
protobuf
fastapi
uvicorn
psycopg2-binary
requests
websockets
fpdf2
Pillow
